[submodule "Externals/luabind"]
	path = Externals/luabind
	url = https://github.com/OpenXRay/luabind-deboostified.git
[submodule "Externals/luajit"]
	path = Externals/luajit
	url = https://github.com/OpenXRay/LuaJIT.git
[submodule "Externals/GameSpy"]
	path = Externals/GameSpy
	url = https://github.com/nitrocaster/GameSpy.git
[submodule "Externals/AGS_SDK"]
	path = Externals/AGS_SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "Externals/lzo"]
	path = Externals/lzo
	url = https://github.com/alexgdi/lzo.git
